section#about
		div(row='row')
				h2 My Story
				hr
				p
					img(self-pic='self-pic', src='img/mevintage.png', alt='Trent Oswald - Developer')
					| My first encounters with computers were in the late 90s on my dad's old DOS
					| system. I would pass the time playing games old LucasArts games like Loom and
					| Monkey Island and Indiana Jones while my older brother played his
					em Bush
					| album on repeat in the next room. I realized years later what those days of
					| solving puzzles and defeating monsters taught	me...
				p
					em Never
					| play an album on repeat. It will get old.
					em Fast.
				p
					| It also taught me the value of sticking to a problem until it's solved,
					| of looking at issues in new and innovative ways, and the effect a good interaction
					| can have on an individual.
				p
					| I believe that
					b computers are designed to serve us
					| .
					| We shouldn't have to sacrifice a good user experience just because of technology.
					| Sometimes that means working around and patching for older browsers. Sometimes that
					| means building with mobile in mind. Either way, the more web technology advances,
					| the closer it gets to a genuine and ultimately meaningful interpersonal connection.
				p
					| I believe code can be
					b socially responsible
					| . That with this amazing tool available
					| to us, we can really make a difference in the lives of these humans around us, even
					| if it's only by making their voices heard.
				p
					| My name is Trent Oswald. I am an idealist, a humanist, an open-source enthusiast, an avid
					| fan of science fiction, and above all,
					b
						em I code
				p
					| But that's just my story. I want to hear yours!
					a(href='#/contact') Shoot me an email
					| fork one of my
					a(href='http://github.com/therebelrobot?tab=repositories') repos
					| or
					a(href='https://twitter.com/therebelrobot') shoot a tweet at me!
					| I love to meet new
					| people, and even if you don't have much to say, say hi anyway!
