section#contact
    div(row='row')
        h2 Email
        hr
        a(text='text', href='mailto:admin@therebelrobot.com') admin@therebelrobot.com
      div(row='row')
        h2 Telephone
        hr
        object(type='application/x-shockwave-flash', data='https://clients4.google.com/voice/embed/webCallButton', width='230', height='85')
          param(name='movie', value='https://clients4.google.com/voice/embed/webCallButton')
          param(name='wmode', value='transparent')
          param(name='FlashVars', value='id=22b5db6c4b43575360b84a78bf74b4c3d896594b&style=0')
        a.skype(href='skype:therebelrobot?call')
          img(src='img/call_me_skype.png', alt='Call me on Skype!')
      div(row='row')
        h2 LinkedIn
        hr
        a(href='http://www.linkedin.com/in/trentoswald')
          img(src='http://s.c.lnkd.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png', width='160', height='33', border='0', alt='View Trent Oswald\'s profile on LinkedIn')
      div(row='row')
        h2 Twitter
        hr
        a(href='http://www.twitter.com/therebelrobot')
          img(src='img/follow_me_twitter.png', alt='Follow me on Twitter!')
