section#cv
    div(row='row')
        h2 PDF format:
        hr
        a(pdf='pdf', href='/docs/Trent%20Oswald%20Resume%20Oct%202013.pdf')
          img(src='img/Adobe-PDF-Document-icon.png')
          span admin@therebelrobot.com
      div(row='row')
        h2 Text Format:
        hr
        textarea(ui-codemirror='editorOptions', ng-model='x')
          | write something here
