section#main
    h1
        | Hi. I'm
        span Trent
        | and I make things people
        span like to see.
      h2
        | Check out
        span(ng-click='setApp(\'stack\')') my stack
        | or
        span(ng-click='setApp(\'projects\')') my work
