section#projects
    div(row='row')
        h2 Professional Work
        hr
        a(href='http://adobeanalyticspro.com/')
          img(src='img/work/portfolio-adobe.jpg', alt='Adobe Analytics Assessment')
        a(href='http://mediarain.github.com/avery/')
          img(src='img/work/portfolio-martha.jpg', alt='Adobe Analytics Assessment')
        a(href='http://thebeautyofnight.com/')
          img(src='img/work/portfolio-estee.png', alt='Adobe Analytics Assessment')
      div(row='row')
        h2 Volunteer Work
        hr
        a(href='http://twomarriedgeeks.com/')
          img(src='img/work/twomarriedgeeksimage.png', alt='Two Married Geeks')
        a(href='helpfulgeek.info/')
          img(src='img/work/helpfulgeekimage.png', alt='HelpfulGeek.info')
      div(row='row')
        h2 Side Projects
        hr
        a(text='text', href='http://github.com/therebelrobot/generator-ngless') NgLESS Yeoman Generator
        a(text='text', href='http://github.com/therebelrobot/tRRtoolbelt.less') tRRtoolbelt.less - LESScss functions
        a(text='text', href='http://github.com/therebelrobot/jquery.starburstGraph') jquery.starburstGraph
        a(text='text', href='http://github.com/therebelrobot/jquery.ui.draggable.spawner') jquery.ui.draggable.spawner
        a(text='text', href='keyBinder/') jquery.keybinder
        a(text='text', href='jqBookmarklet/') jQuery Bookmarklet Generator
