section#stack
    div(row='row')
        h2 Client-side
        hr
        img(stack-html='stack-html', src='img/stack/html5.png', alt='HTML5 & CSS3')
        img(stack-less='stack-less', src='img/stack/less.png', alt='LESS-CSS')
        img(stack-jquery='stack-jquery', src='img/stack/jquery.png', alt='jQuery')
      div(row='row')
        h2 Server-side
        hr
        img(stack-node='stack-node', src='img/stack/node.png', alt='Node.js')
        img(stack-grunt='stack-grunt', src='img/stack/grunt.png', alt='Grunt Task Automation')
        img(stack-bower='stack-bower', src='img/stack/bower.png', alt='Bower Front-end Dependencies')
        img(stack-php='stack-php', src='img/stack/php.png', alt='PHP & MySQL')
      div(row='row')
        h2 Frameworks
        hr
        img(stack-angular='stack-angular', src='img/stack/angular.png', alt='Angular.js')
        img(stack-ember='stack-ember', src='img/stack/ember.png', alt='Ember.js')
        br
        img(stack-jqui='stack-jqui', src='img/stack/jqui.png', alt='jQuery UI')
        img(stack-jqmobile='stack-jqmobile', src='img/stack/jqmobile.png', alt='jQuery Mobile UI')
        br
        img(stack-wordpress='stack-wordpress', src='img/stack/wordpress.png', alt='Wordpress')
        img(stack-mediawiki='stack-mediawiki', src='img/stack/mediawiki.png', alt='MediaWiki')
      div(row='row')
        h2 Development
        hr
        img(stack-ubuntu='stack-ubuntu', src='img/stack/ubuntu.png', alt='Ubuntu Linux')
        img(stack-bash='stack-bash', src='img/stack/bash.jpg', alt='Bash Command Line Scripting')
        img(stack-sublime='stack-sublime', src='img/stack/sublime.png', alt='Sublime Text Editor')
        img(stack-yeoman='stack-yeoman', src='img/stack/yeoman.png', alt='Yeoman Project Scaffolding')
        img(stack-github='stack-github', src='img/stack/github.png', alt='Github Social Coding')
