body{
	*{
		#tRRt > .box-sizing(border-box);
	}
	nav.ui.menu{
		position:fixed;
		top:0px;
		left:0px;
		width:100%;
		z-index:10;
		#tRRt > #rounded > .all(0px);
		.title{
			i{
				position:absolute;
				left:10px;
				top:5px;
			}
			b{
				margin-left:30px;

			}
		}
	}
	.ui.popup{
		width:125px !important;
		text-align:center;
	}
	.wrapper{
		width:100%;
		position:absolute;
		top:43px;
		bottom:0px;
		left:0px;
		section{
			width:100%;
			height:100%;
			position:absolute;
			top:0px;
			&.pos-5{

			}
			&.pos-4{

			}
			&.pos-3{

			}
			&.pos-2{

			}
			&.pos-1{

			}
			&.pos0{
				left:0px;
			}
			&.pos1{
				left:150%;
			}
			&.pos2{
				left:300%;
			}
			&.pos3{
				left:450%;
			}
			&.pos4{
				left:600%;
			}
			&.pos5{
				left:750%;
			}

			&#main{

			}
			&#stack{

			}
			&#projects{

			}
			&#about{

			}
			&#contact{

			}
			&#error{

			}
		}
	}
}