<section id="projects" ng-class="position[2]" class="orange">
	<article>
		Professional Work
			Adobe MarthaStewart Estee Lauder NRF
		Volunteer Work
			Two Married Geeks
		Side Projects
			HubFlow-Site
				A clone of http://datasift.github.io/gitflow/ created by Datasift - Sanitized of Facebook hooks and branding for general audiences, also ported to Node.js/Gulp/Angular/Less dev environment
			tRRtoolbelt.less
				A library of handy LESS-CSS mixins and functions
			generator-yeoman-dynamic
				A dynamic yeoman generator template, which scans the template files and duplicates them exactly
			generator-ngless
				Angular/LESScss generator for yeoman
			gulp-angular-less-boilerplate
				A boilerplate for an angular/less app using gulp dev management
			gulp-mean
				MEAN stack with Gulp (gulpjs/gulp) instead of Grunt
			bash.scripts
				Various scripts I frequently use and some that I want to keep handy
			generator-ng-jade-less
				A yeoman Generator with Jade and LessCSS compiling, and AngularJS architecture
			jquery.starburstGraph
			jquery.ui.draggable.spawner
			jquery.keyBinder
			jquery.bookmarkletGen
	</article>
	<div id="modal-project-adobe" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
	<div id="modal-project-martha" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
	<div id="modal-project-estee" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
	<div id="modal-project-nrf" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
	<div id="modal-project-2mg" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
	<div id="modal-project-hubflow" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
	<div id="modal-project-trrtoolbelt" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
	<div id="modal-project-gendynamic" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
	<div id="modal-project-genngless" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
	<div id="modal-project-gal-biolerplate" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
	<div id="modal-project-gulpmean" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
	<div id="modal-project-bashscripts" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
	<div id="modal-project-genngjadeless" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
	<div id="modal-project-starburst" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
	<div id="modal-project-drag" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
	<div id="modal-project-keybinder" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
	<div id="modal-project-bookmarkletGen" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
</section>