<section id="stack" ng-class="position[1]" class="blue">
  <article>
    Client-side
      HTML5/CSS3  LESS/SASS  jQuery
    Server-side
      Node.js  MongoDB PHP/MySQL
    Frameworks
      Angular.js  Ember.js  jQuery UI  Wordpress
    Development
      Linux  Bash Grunt Gulp Bower Yeoman Github Semantic Versioning
  </article>
  <div id="modal-stack-html" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
  <div id="modal-stack-less" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
  <div id="modal-stack-jquery" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
  <div id="modal-stack-node" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
  <div id="modal-stack-mongo" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
  <div id="modal-stack-grunt" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
  <div id="modal-stack-gulp" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
  <div id="modal-stack-bower" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
  <div id="modal-stack-php" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
  <div id="modal-stack-angular" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
  <div id="modal-stack-ember" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
  <div id="modal-stack-jquery-ui" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
  <div id="modal-stack-wordpress" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
  <div id="modal-stack-linux" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
  <div id="modal-stack-bash" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
  <div id="modal-stack-yeoman" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
  <div id="modal-stack-github" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
  <div id="modal-stack-semver" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="content">
      <div class="left">
        Content can appear on left
      </div>
      <div class="right">
        Content can appear on right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
</section>